@font-face {
    font-family: 'HeaderFont1';
    src: url('Assets/Fonts/HeaderFont1/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TextFont1';
    src: url('Assets/Fonts/TextFont_1/static/RobotoSlab-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-color: #3f5a6e;
    --hover-background-color: #2b4050;

    --header-border-color: rgb(0, 0, 0);
    --header-border-size: 5px;

    --text-color: #ffffff;
    --hovered-text-color: rgb(206, 206, 206);
    --animation-text-color: rgb(163, 163, 163);

    --header-height: 100px;

    --button-font-size: 22px;
    --button-font: 'TextFont1', sans-serif;
    --button-right-padding: 8%;
    --button-padding: 25px;

    --Handy-buttons-padding-down: 30px;
    --button-handy-height: 50px;
    --handy-dropdown-border-color: rgb(62, 153, 223);
}


@keyframes bounce {
    0% {
        font-size: var(--button-font-size);
        color: var(--text-color);
    }
    60% {
        font-size: calc(var(--button-font-size) + (var(--button-font-size) / 10));
        color: var(--animation-text-color);
    }
    100% {
        font-size: calc(var(--button-font-size) + (var(--button-font-size) / 15));
        color: var(--hovered-text-color);
    }
}
@keyframes darker {
    0% {
        color: var(--text-color);
    }
    60% {
        color: var(--animation-text-color);
    }
    100% {
        color: var(--hovered-text-color);
    }
}
@keyframes slideDown {
    0% {
        max-height: 0;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        max-height: 500px;
    }
}
@keyframes slideUp {
    0% {
        max-height: 500px;
    }
    60% {
        opacity: 1;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(251, 255, 0, 0.089);
    overflow: hidden;
}



.Header {
    background-color: var(--background-color);

    height: var(--header-height);
    display: flex;
    margin-bottom: 0;

    border-bottom: var(--header-border-size) solid var(--header-border-color);
}

#toggle_button {
    display: none;
}

.Header-Logo-img {
    height: 150%;
    width: auto;
    align-self: center;
    margin-bottom: 12px;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    align-self: center;
    margin-left: auto;
    margin-right: var(--button-right-padding);
    
    z-index: 9999;
}

.buttons li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--button-padding); 
}
.buttons li:hover i {
    animation: darker 0.3s ease forwards;
}
.buttons li:hover a {
    text-decoration: underline;
    animation: bounce 0.3s ease forwards;
}

.buttons li i {
    margin-right: 5px;
    font-size: var(--button-font-size);
}

.buttons li a {
    align-self: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--button-font-size);
    font-family: var(--button-font);
    transition: color 0.3s ease;
}


.Header .LeftButton {
    margin-left: auto;
}
.Header .RightButton {
    margin-right: var(--button-right-padding); 
}


#toggle_button {
    display: none;
}

.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background: var(--text-color);
    border-radius: 100px;
}

@media (max-width: 1100px){
    :root{  
        --header-height: 80px;
        --button-font-size: 16px;
        --button-font: 'TextFont1', sans-serif;
        --button-right-padding: 6%;
        --button-padding: 15px;
    }
}


@media(max-width: 800px){
    :root{  
        --button-right-padding: 0%;
    }

    .buttons li {
        flex-direction: column;
    }
    .buttons li i {
        font-size: calc(var(--button-font-size) * 1.5);
    }
    .buttons li a {
        font-size: calc(var(--button-font-size) / 1.5);
    }

    .buttons li:hover i {
        animation: darker 0.3s ease forwards;
    }
    .buttons li:hover a {
        text-decoration: underline;
        animation: darker 0.3s ease forwards;
    }
    .Header .LeftButton {
        margin-left: 0;
    }
}

@media(max-width: 530px){
    .buttons li i {
        margin-right: 0px;
    }
    
    .buttons li a {
        margin-right: 0px;
    }
    
    
    .Header .LeftButton {
        margin-right: 0px;
        margin-left: 0px;
    }
    .Header .RightButton {
        margin-right: 0px;
        margin-left: 0px;
    }
    

    .toggle_button{
        display: flex;
        align-items: flex-start;
    }
    .buttons {
        padding: 0;
        padding-top: calc(var(--button-handy-height) / 1.5);
        padding-bottom: calc(var(--button-handy-height) / 2);

        height: min-content;
        width: 60%;
        background: var(--background-color);

        display: none;
        position: absolute;
        top: calc(var(--header-height) - 16px);

        border-top: 5px solid var(--handy-dropdown-border-color);

        left: 50%;
        transform: translateX(-50%);

        overflow: hidden;
        overflow-y: scroll;

        border-bottom-left-radius: 20px;
    }
    .buttons li{
        padding: 0;
        height: var(--button-handy-height);
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .buttons ul a{
        padding: var(--Handy-buttons-padding-down) 0;
    }
    #toggle_button:checked ~ .buttons{
        animation: slideDown 0.5s ease-in-out forwards;
        display: block;
    }
    #toggle_button:not(:checked) ~ .buttons {
        animation: slideUp 0.5s ease-in-out forwards;
        display: none;
    }
    .buttons li:hover {
        background-color: var(--hover-background-color);
    }
}

.scroll {
    overflow: hidden;
    overflow-y: scroll;
}

.page {
    position: absolute;
    margin-top: var(--header-height);
    height: calc(100% - var(--header-height));
    width: 100%;
}
